@model IEnumerable<Item>


@{
    ViewData["Title"] = "Index";
}


<div class="container shadow p-3 rounded">
    <div class="row pt-3 mb-3">
        <div class="col-6">
            <h2 class="text-primary">Item List</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controlller="Category" asp-action="Create" class="btn btn-primary mb-3 text-end">
                <i class="bi bi-plus-circle"></i>
                &nbsp; Create New Item</a>
        </div>
    </div>

    <table class="table table-bordered table-striped" style="width:100%">
        <thead class="table-primary">
            <tr>
                <th>Item Name</th>
                <th>Borrower</th>
                <th>Lender</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var obj in Model)
            {
                <tr>
                    <td>
                        @obj.ItemName
                    </td>
                    <td>
                        @obj.Borrower
                    </td>
                    <td>
                        @obj.Lender
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
